.joke{
	text-align: center;
}
.chuckFoto{
	border-radius: 25px;
	border-style: solid;
    border-color: black;
    max-width: 241px;
    width: 100%;
}
.susto{
	color: silver;
	font-size: 11px;
	width:100%;
	text-align: right;
	padding: 0px 20px;
}
.jokeNumber{
	text-align: right;
	padding: 20px;
}
#jokeList{
	text-align: center;
}

#jokeList h1{
	padding: 20px;
}
.center{
	text-align: center;
}
.talbaChistes{
	padding: 30px;
}
